<section id="counts" class="counts section-bg">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span data-purecounter-start="0" data-purecounter-end="2358" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Users</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Institutions</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span data-purecounter-start="0" data-purecounter-end="1943" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Parents</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span data-purecounter-start="0" data-purecounter-end="415" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Teachers</p>
                </div>
            </div>
        </div>
    </div>
</section>
