<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>CALASOMA Mwalimu Dashboard</h1>
                <h2>Welcome to Your Teacher's Dashboard</h2>
                <p>Explore the capabilities of CALASOMA, an all-encompassing platform crafted to streamline academic management and student monitoring for educators like you.</p>
            </div>
        </div>
        <div class="text-center">
            <a href="/login" class="btn-get-started scrollto">Login</a>
        </div>

        <div class="row icon-boxes">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-cloud-arrow-up"></i></div>
                    <h4 class="title"><a href="">Upload Results</a></h4>
                    <p class="description">Effortlessly upload and manage academic results.</p>
                </div>
            </div>
        
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="ri-eye-line"></i></div>
                    <h4 class="title"><a href="">View Students</a></h4>
                    <p class="description">Access student profiles and academic data with ease.</p>
                </div>
            </div>
        
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="ri-mail-send-line"></i></div>
                    <h4 class="title"><a href="">Communication</a></h4>
                    <p class="description">Efficient communication tools for seamless interaction.</p>
                </div>
            </div>
        
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><i class="ri-tools-line"></i></div>
                    <h4 class="title"><a href="">Administrative Tools</a></h4>
                    <p class="description">Streamlined tools for managing administrative tasks.</p>
                </div>
            </div>
        </div>
        
    </div>
</section>
