<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Pricing</h2>
            <p>Choose the plan that best fits your needs. No hidden fees, cancel anytime!</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <h3>Basic</h3>
                    <h4>KSh 0 / month</h4>
                    <ul>
                        <li>Access to essential features</li>
                        <li>Basic support</li>
                        <li>Limited storage space</li>
                        <li class="na">Advanced features</li>
                        <li class="na">Priority support</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
                <div class="box featured">
                    <h3>Standard</h3>
                    <h4>KSh 1,900 / month</h4>
                    <ul>
                        <li>Access to all features</li>
                        <li>Premium support</li>
                        <li>Generous storage space</li>
                        <li>Advanced analytics</li>
                        <li class="na">Customization options</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <h3>Premium</h3>
                    <h4>KSh 2,900 / month</h4>
                    <ul>
                        <li>Access to all features</li>
                        <li>Premium support</li>
                        <li>Unlimited storage space</li>
                        <li>Custom branding</li>
                        <li>Advanced integrations</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
