<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Services</h2>
            <p>
                Discover the range of services offered by CALASOMA:
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <div class="icon">
                        <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                d="M300,581.669500986706C382.224908084325,582.3128337148493,448.2980462549813,522.8726503919994,502.1584117739667,462.5621066708555C556.4557406040728,401.47814652585405,615.562525349533,325.62842459759067,586.6568183133702,250.22717893804833C559.037294874198,179.27026894780094,454.9571326536673,164.23747922320668,381.5274933320338,131.07552727234582C313.4293755626635,99.4983476684299,250.30654813460765,21.183708987065057,179.68566879368648,50.870824147988435C110.74861456752203,79.50408947162965,121.57557672868186,170.01227804101477,109.73961729727056,249.4744288002532C99.2788565680268,317.9875321402249,92.83207243701914,387.24746628667116,124.18482800227423,443.04812078432546C164.10882190123244,510.3084457500171,220.1488302217955,581.0981123972283,300,581.669500986706Z">
                            </path>
                        </svg>
                        <i class="ri-dashboard-line"></i>
                    </div>
                    <h4><a href="#">Parent Dashboard</a></h4>
                    <p>
                        Access real-time updates on your child's academic performance and communicate with teachers effortlessly.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                data-aos-delay="200">
                <div class="icon-box iconbox-orange">
                    <div class="icon">
                        <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                d="M300,597.2413255222514C384.0819530752512,597.6972852773671,448.347756861926,533.5164817806762,504.6433528466612,468.44339816213605C561.162270089506,401.76723989167185,612.6235783688548,326.314578445374,592.434251628819,253.29357201166925C573.1322189743365,184.0221618601255,464.1348495140498,165.75803470603134,385.9239255150733,135.5142004574801C315.8200592701914,108.60774337610986,254.2471891871047,34.58221877648208,175.93585655807515,60.66031671494504C108.71483947818045,83.68570326525522,122.4931328300246,176.6487830947162,109.75907919586078,253.05182308357022C98.23712760432273,318.2092735858489,92.82748497939616,383.18761804262685,121.67397186820747,441.4732333244525C160.05725317868547,514.2724296059752,216.80422966321698,594.7853654991354,300,597.2413255222514">
                            </path>
                        </svg>
                        <i class="bx bx-book"></i>
                    </div>
                    <h4><a href="#">Teacher Dashboard</a></h4>
                    <p>
                        Manage student records, assessments, and communication with parents efficiently from one platform.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                data-aos-delay="300">
                <div class="icon-box iconbox-pink">
                    <div class="icon">
                        <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                d="M300,568.7674487574211C381.1841683815453,570.4869046675821,459.33263614820684,531.4963906989642,509.18134602636344,470.5730342243922C559.6515937586722,409.6537348983411,601.1334540229714,332.82169965605767,581.3419781723452,257.70298361891146C561.5644147209291,186.9937353566147,476.0459968418655,167.96105643792992,398.73516606319744,141.39946828096476C328.3449646802082,117.73222993018468,254.2254684442385,44.61065652710636,175.5380450461702,66.64685047247588C110.34800939306257,85.99814594822318,121.34973393469837,174.91659149159112,107.2176987112446,253.33477667487993C94.28034704572053,320.6355332510162,89.00620156179953,387.76738681665804,119.27032935790319,446.10919188277315C155.7576093061489,517.5560579630274,216.1792288404825,568.1641684649364,300,568.7674487574211">
                            </path>
                        </svg>
                        <i class="bx bx-wrench"></i>
                    </div>
                    <h4><a href="#">Administrative Tools</a></h4>
                    <p>
                        Streamline school operations with features for attendance tracking, timetable management, and more.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
