<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Testimonials</h2>
            <p>Read what our top users have to say about CALASOMA:</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            CALASOMA has made it incredibly easy for me to keep track of my child's academic progress. The ability to communicate directly with teachers has improved my involvement in my child's education.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="" />
                        <h3>Mary Kariuki</h3>
                        <h4>Parent</h4>
                    </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            CALASOMA has transformed how I engage with my students' parents. The platform's features have facilitated effective communication, resulting in improved parental involvement and student outcomes.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="" />
                        <h3>John Kimani</h3>
                        <h4>Teacher</h4>
                    </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            CALASOMA has been instrumental in streamlining administrative tasks at our school. The platform's intuitive interface and comprehensive features have saved us time and enhanced our efficiency.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="" />
                        <h3>James Mwangi</h3>
                        <h4>School Administrator</h4>
                    </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            CALASOMA has simplified how I communicate with parents, allowing me to share student progress and updates seamlessly. It's an invaluable tool for enhancing parent-teacher collaboration.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="" />
                        <h3>Juliet Waithera</h3>
                        <h4>Teacher</h4>
                    </div>
                </div>
                <!-- End testimonial item -->
                
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            CALASOMA has provided me with valuable insights into my child's academic performance. The platform's user-friendly interface and regular updates have helped me stay informed and engaged in my child's education.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="" />
                        <h3>Patrick Kibet</h3>
                        <h4>Parent</h4>
                    </div>
                </div>
                <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
