<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Testimonials</h2>
            <p>Read what our users have to say about CALAFILES:</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            As an educator, CALAFILES has become an indispensable tool in my classroom. It streamlines administrative tasks, allowing me to focus more on teaching. The progress tracking tools enable me to assess student performance effectively, while the chatroom facilitates communication and collaboration among students. CALAFILES truly enhances the teaching and learning process.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="" />
                        <h3>Mary Kariuki</h3>
                        <h4>Tutor</h4>
                    </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            CALAFILES has revolutionized my teaching experience. With its intuitive platform, I can easily upload and share course materials with my students, track their progress, and provide timely feedback. The chatroom feature fosters collaboration and enhances communication, making teaching more interactive and engaging.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="" />
                        <h3>Prof. John Kimani</h3>
                        <h4>Tutor</h4>
                    </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            CALAFILES has been a game-changer for our family. As a parent, I appreciate how it keeps me informed about my child's academic progress. The platform's user-friendly interface makes it easy for me to access important information, communicate with tutors, and stay involved in my child's education. CALAFILES has strengthened the parent-tutor partnership and has had a positive impact on my child's learning journey.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="" />
                        <h3>Gacheri Peris</h3>
                        <h4>Parent</h4>
                    </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            CALAFILES has truly transformed the way I learn. Not only can I access my study materials anytime, anywhere, but the progress tracking tools help me stay on top of my academic goals. It's the ultimate companion for academic success!
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="" />
                        <h3>James Mwangi</h3>
                        <h4>Student</h4>
                    </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            I can't imagine navigating through my courses without CALAFILES. From sharing lecture notes to tracking my progress, everything is organized and readily available. Plus, the chatroom feature makes group projects and discussions a breeze!
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="" />
                        <h3>Juliet Waithera</h3>
                        <h4>Student</h4>
                    </div>
                </div>
                <!-- End testimonial item -->
                
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            CALAFILES has been a game-changer for me! With easy access to all my course materials and a convenient chatroom to connect with classmates and tutors, studying has never been this efficient. It's like having my own virtual study buddy!
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="" />
                        <h3>Patrick Murimi</h3>
                        <h4>Student</h4>
                    </div>
                </div>
                <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
