<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Testimonials</h2>
            <p>Read what our users have to say about CALAFILES:</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bi bi-chat-left-quote quote-icon-left"></i>
                            CALAFILES has revolutionized how I share educational materials with my students. It's incredibly efficient and has made teaching more effective.
                            <i class="bi bi-chat-right-quote quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="" />
                        <h3>Mary Kariuki</h3>
                        <h4>Teacher</h4>
                    </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bi bi-chat-left-quote quote-icon-left"></i>
                            CALAFILES has significantly improved how I track my students' progress. The progress tracking tools are intuitive and have helped me better understand my students' needs.
                            <i class="bi bi-chat-right-quote quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="" />
                        <h3>John Kimani</h3>
                        <h4>Teacher</h4>
                    </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bi bi-chat-left-quote quote-icon-left"></i>
                            CALAFILES has simplified how I communicate with my students and their parents. The chatroom feature is invaluable for fostering communication and collaboration.
                            <i class="bi bi-chat-right-quote quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="" />
                        <h3>James Mwangi</h3>
                        <h4>Teacher</h4>
                    </div>
                </div>
                <!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bi bi-chat-left-quote quote-icon-left"></i>
                            CALAFILES has made it easier for me to stay engaged in my child's education. I can easily access their progress and communicate with their teachers, making the learning process smoother.
                            <i class="bi bi-chat-right-quote quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="" />
                        <h3>Juliet Waithera</h3>
                        <h4>Parent</h4>
                    </div>
                </div>
                <!-- End testimonial item -->
                
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bi bi-chat-left-quote quote-icon-left"></i>
                            CALAFILES has been a game-changer for me as a parent. I can easily monitor my child's progress and communicate with their teachers, all in one place.
                            <i class="bi bi-chat-right-quote quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="" />
                        <h3>Patrick Kibet</h3>
                        <h4>Parent</h4>
                    </div>
                </div>
                <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>