<!-- ======= Header Section ======= -->
<%- include('partials/header') %> 
<!-- End Header -->

    <!-- ======= Navbar Section ======= -->
        <%- include('partials/nav') %>
    <!-- End Navbar -->
    <div class="error-container">
        <img src="assets/img/404.png" width="100%" alt="">
        <p>Oops! The page you're looking for cannot be found.</p>
        <p>It may have been moved, deleted, or never existed.</p>
        <p>You can try going back to the homepage using the button below.</p>
        <div class="text-center">
            <a href="/" class="btn-get-started scrollto" id="back-home-btn">Homepage</a>
        </div><br><br><br><br><br><br>
    </div>
    
    <!-- ======= Footer ======= -->
        <%- include('partials/footer') %>
    <!-- End Footer -->
<%- include('partials/ending') %>
